.neon-border {
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #be0b0b,
                0 0 0.8rem #be0b0b,
                0 0 2.8rem #be0b0b,
                inset 0 0 1.3rem #be0b0b;
}