---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import EscortsCompoent from '../components/Escorts.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/index.scss';

import { supabase } from "../lib/supabase";

const { data, error } = await supabase
  .schema("public")
  .from("escorts")
  .select();

const escorts: Array<any> | null = data;
---

<Layout>
	<Header />
	<div transition:animate="slide" class="mt-[90px]">
		<EscortsCompoent escorts={escorts}/>
	</div>
	<Footer />
</Layout>
