<div class="scroll-down">
    <!--?xml version="1.0" encoding="UTF-8"?-->
    <svg
        width="6px"
        height="32px"
        viewBox="0 0 6 32"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
    >
        <title>Scroll Animation</title>
        <g
            id="1.-Homepage-✅"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
        >
            <g
                id="1a.-Homepage"
                transform="translate(-861.000000, -992.000000)"
                fill="#FFFFFF"
            >
                <g
                    id="Header-Video-Section"
                    transform="translate(40.000000, 112.000000)"
                >
                    <g
                        id="Scroll-To-Explore"
                        transform="translate(751.500000, 880.000000)"
                    >
                        <g
                            id="Scroll-Animation"
                            transform="translate(70.000000, 0.000000)"
                        >
                            <rect
                                id="Scroll-Keyline"
                                opacity="0.400000006"
                                x="2"
                                y="0"
                                width="1"
                                height="32"></rect>
                            <circle
                                id="Oval"
                                cx="2.5"
                                cy="13.5"
                                r="2.5"></circle>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>
    <span class="scroll-label cta-font">Scroll To Explore</span>
</div>

<style>
	.scroll-down {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: auto;
		opacity: 1;
		transition: all 1.2s cubic-bezier(0.48, 0, 0.48, 1);
		transition-delay: 1s;
	}
</style>